*{
    margin:0;
    padding:0;
}
body{
    background-image:url(./imagens/fundo.musical.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}
header{
    background: black;
    color: white;
    padding: 30px;
    font-size: 100%;
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
    text-align: center; 
}

.barra{
    display: flex;
    text-align: center;
    justify-content: center;
    
}

input,button{
    
    margin: 30px 10px;
    font-size: 17px;
    background: white;
    padding: 3px; 
    border: 3px solid  rgb(138, 66, 91);
   border-radius: 8%;
}
input:hover{
    background-color: rgb(62, 62, 210);
}
button:hover{
    background-color: rgb(62, 62, 210);
}


footer{
    
    background-color: black;
    color: white;
    width: 100%;
    text-align: center;
    font-size: 100%;
    padding: 25px;
    
}

#sections{
    background-color: rgb(138, 66, 91) ;
    display:grid;
    grid-column: 2/3;
    grid-row: 1/2;
    grid-template-columns: 1fr 2fr ;
    align-items: center; 
    justify-items: center; 
    width: 37vw;
    padding-top: 2vh ;
    padding-bottom: 2vh ;
    height: 25vh;
    border-radius: 10%;
   border: 3px solid black;
   
}


#cantoras{
    display: flex;
    flex-direction: column; 
    row-gap: 3vh;
    padding-bottom: 2vh ;
    justify-items:  center;
    width: 40vw;
    margin: 0 auto;
}
    
img{
   
    border-radius: 50% ;   
    width: 165px;
    height: 165px; 
    overflow: hidden;
    right: -22px;
    position: relative; 
    object-fit: cover;
    transition: 3s;
    border: 2px solid black;
    
}

p{
    display: grid;
    grid-column: 2/3; 
    color: aqua;
    top: 22px;
    position: relative;
    top: -100px;
    font-size: 110%;
    color: black;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}

h3{
    color: white;
    font-family: Helvetica ;
    display: grid;
    grid-column: 2/3;
    margin: 20px 20px 90px;
    
}
.show{
    display: none!important; 
} 

#sections:hover { 
  
   transition: 1s;
   font-size: 115%;
   width: 38vw;
   height: 30vh;
} 

/* Responsividade */
@media screen and (min-device-width : 481px) and (max-device-width : 800px){
   #cantoras{
      width: 70%;
      margin-top: auto 0;
   }
   #sections{
      display: grid;
      width: 80vw;
      text-align: center;  
      align-items: center;
    
    }
    #sections:hover{
        
        font-size:107%; ;
        width: 82vw; 
        height: 27vh;
    }
    header{
        width: 100%;
        position: relative; 
        right: 40px;
        top: 8px;
        font-size: 90%;
        
    }
    p{
        display: grid;
        grid-column: 2/3; 
        top: 22px;
        position: relative;
        top: -100px;
        font-size: 110%;
        color: black;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        padding: 0px 0px 1px 0px;
    }
   
    h3{
       width: 100%;
       position: relative;
       top: -9px; 
    }
    img{
        width: 135px;
        height:135px;
        position: relative;
        top:-0px;
        left: 25px;
        
    }
    .barra{
        width: 100%;
    }
    input,button{
        padding: 4px;
        margin: 20px 15px;
    }
   


   
}

 
@media screen and (min-device-width : 320px) and (max-device-width : 480px){
   
    #cantoras{
        width: 100%;
       
    }
    #sections{
        display:grid;
        background-color: rgb(0, 149, 255);
        width: 90vw;
        text-align: center;  
        position: relative;
        align-items: center;
        right: -22px;  
     
    }
    #sections:hover{
        
        font-size:102%; ;
        width: 92vw; 
        height: 26vh;
    }
    header{
        width: 100%;
        position: relative; 
        right: 40px;
        font-size: 70%;
        
    }
    p{
        display: grid;
        grid-column: 2/3; 
        top: 22px;
        position: relative;
        top: -100px;
        font-size: 110%;
        color: black;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        padding: 0px 0px 1px 0px;
    }
   
    h3{
        width: 100%;
       position: relative;
       top: -9px; 
    }
    img{
        width: 100px;
        height:100px;
        position: relative;
        top:-0px;
        left: 3px;
        
    }
    .barra{
        width: 100%;
    }
    input,button{
        padding: 0;
        margin: 20px 5px;
    }
   
   
}

